<div class= "center-block" style="width: 50%">
   <div class="btn-toolbar" style="width: 100%; text-align: center" >
    <% @rooms.each do |room| %>
        <a href="/rooms/<%=room.id%>" style="none" >
        <button type="button" class="btn btn-default" style="background-color:<%= Meeting::COLORS[room.id % 10] %>">
            <%= room.name%>
        </button>
        </a>
    <% end %>
     <%= link_to 'New Room', new_room_path %>
   </div> 
</div>

<br>
<br>

<%@meetings.each do |meeting| %>
    <% if meeting.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
 
            <ul>
                <% meeting.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>  
        </div>
    <%end%>
<%end%>

<br>    

<div class ="center-block" style="width: 80%">
    <div id='calendar'></div>
</div>

<div id="event_desc_dialog" class="dialog" style="display:none;">
</div>

<div id="create_meeting_dialog" class="dialog" style ="display:none;">
    <%= render 'meetingform' %>
</div>

<br>
<div class= "center-block" style="width: 50%">
   <div class="btn-toolbar" style="width: 100%; text-align: center" >
      <button type="button" class="btn btn-default" id='export'>
           <%= link_to 'Export', "/rooms.ics" %>
      </button>
   </div> 
</div>

<br>
<br>
