<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
<% end %>
  
<div id='calendar_show'></div>

<script>
    $(document).on('ready page:load',function() {
            $('#calendar_show').fullCalendar('removeEvents');
            
            <%@rooms.each do |aRoom| %>
                $('#calendar_show').fullCalendar('removeEventSource','/rooms/'+<%=aRoom.id%>+'.json');
            <%end%>
            
            $('#calendar_show').fullCalendar('addEventSource','/rooms/'+<%=@room.id%>+'.json' );
            $('#calendar_show').fullCalendar('refetchEvents'); 
    });
</script>

<div id="event_desc_dialog" class="dialog" style="display:none;"></div>

<div id="create_meeting_dialog" class="dialog" style ="display:none;">
      <%= render 'meetingform' %>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
