<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div>
<div id='calendar'></div>
</div>
<div id="event_desc_dialog" class="dialog" style="display:none;"></div>
<div id="create_meeting_dialog" class="dialog" style ="display:none;">
      <%= render 'meetingform' %>
</div>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
